#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out both;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

